In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/train.txt", sep='\t', header=None)

In [3]:
df.shape

(90570, 3)

In [4]:
df.head()

   0  1  2
0  1  1  5
1  1  2  3
2  1  3  4
3  1  4  3
4  1  5  3

In [5]:
df[1].unique()

array([   1,    2,    3, ..., 1656, 1681, 1682])