In [1]:
import commands

import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('X_public.csv', sep=',')
data.head()

,id,x_0,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9
0,0,3.341563,1.521411,4.092960,1.942393,1.034463,3.533365,2.752306,4.664873,4.029349,4.694873
1,1,1.286446,0.628620,1.923768,1.170648,4.962474,1.948102,1.712321,3.273291,4.993338,4.687065
2,2,1.232991,2.191868,0.570618,1.265919,2.171190,2.831534,4.744179,2.184337,1.176302,4.342259
3,3,1.960415,3.122970,2.238440,1.029877,0.856709,3.189741,4.618474,3.061683,1.267660,0.987649
4,4,0.630869,2.116596,1.080991,2.489768,2.663922,2.714398,1.149122,2.769074,3.626005,1.099647

In [3]:
data.shape

(1000000, 11)

In [4]:
index = np.random.permutation(len(data))

n_train = 50000
n_valid = 20000

index_train, index_valid, index_test = \
    index[:n_train], index[n_train:n_train+n_valid], index[n_train+n_valid:]
    
X_train, X_valid, X_test = \
    data.values[index_train], data.values[index_valid], data.values[index_test]

In [5]:
df = pd.DataFrame(X_train, columns=data.columns)
df["id"] = df["id"].astype(int)
df.to_csv('./data/X_train.csv', index=False, sep=',')

In [6]:
df = pd.DataFrame(X_valid, columns=data.columns)
df["id"] = df["id"].astype(int)
df.to_csv('./data/X_valid.csv', index=False, sep=',')

In [7]:
df = pd.DataFrame(X_test, columns=data.columns)
df["id"] = df["id"].astype(int)
df.to_csv('./data/X_test.csv', index=False, sep=',')

In [ ]:
%run OracleManager.py -n 200 -fin X_valid.csv -fout Y_valid.csv

In [ ]:
%run OracleManager.py -n 200 -fin X_train.csv -fout Y_train.csv